<section class="hero-content">
     <h1 class="hero-title"></h1>
 </section>

 <section class="selling-points container clearfix">
     <!-- <div class="point column third">
         <span class="ion-music-note"></span>
         <h5 class="point-title">Choose your music</h5>
         <p class="point-description">The world is full of music; why should you have to listen to music that someone else chose?</p>
     </div> -->
     <div class="point column third">
         <span class=></span>
         <h5 class="point-title"></h5>
         <p class="point-description"></p>
     </div>
     <div class="point column third">
        <!-- <span class="ion-iphone"></span> -->
         <h5 class="point-title">Welcome to our site!</h5>
         <p class="point-description">This site is a place for people to listen to our music. Hope you enjoy!</p>
     </div>
 </section>
